### 파이썬에서 mysql 계열 DB 엑세스

- 모듈 : pymysql 사용
    - $ conda install pymysql -y

In [1]:
import pymysql

In [2]:
# 1. 접속, 해제
# 1-1. 접속 객체 생성 및 접속
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='py_db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [3]:
if connection:
    connection.close()

In [4]:
# 2. 접속, 쿼리, 해제
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='py_db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

try:
    # 쿼리
    with connection.cursor() as cursor:
    
        # 쿼리문
        sql = '''
        INSERT INTO `py_db`.`tbl_trans_lang_log` 
            (`oCode`, `tCode`, `oStr`, `tStc`) 
        VALUES 
            (%s, %s, %s, %s);
        '''

        # 쿼리수행
        cursor.execute(sql, ('en', 'ko', 'hello2', '안녕2'))

    # 커밋 수행(DB에 실제 반영)
    connection.commit()
    
except Exception as e:
    print(e)

finally:
    if connection:
        connection.close()

In [5]:
# 예외 처리 -> s/w는 죽으면 안된다.(-> 오류가 발생할만한 잠재적인 요인을 가진 부분에는
# 모두다 예외 처리를 수행해야 한다.)
try:
    print(1)
    1/0
    print(2)
except Exception as e:
    print(3, e)
else:
    print(4)
finally:
    print(5)

1
3 division by zero
5

In [6]:
try:
    print(1)
    print(2)
except Exception as e:
    print(3, e)
else:
    print(4)
finally:
    print(5)

1
2
4
5

In [7]:
for n in range(5):
    print(n)
    
else:
    print('정상적으로 모두다 반복 수행했다.')

0
1
2
3
4
정상적으로 모두다 반복 수행했다.

In [8]:
for n in range(5):
    print(n)
    
    if n == 2:
        break

else:
    print('정상적으로 모두다 반복 수행했다.')

0
1
2

In [12]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='py_db',
                             charset='utf8mb4'
                             )
try:
    with connection.cursor() as cursor:
        sql = 'select * from tbl_trans_lang_log'     
        cursor.execute(sql )
        # 쿼리 결과를 가져와라
        res = cursor.fetchall()
        # 테이블의 컬럼 순서가 바뀌면 이것을 사용한 코드도 다 영향을 받는다
        print( res )
        print( '번열결과 샘플', res[0][4] )
except Exception as e:
    print(e)
finally:    
    if connection:
        connection.close()

((4, 'fr', 'ko', "En 2000, Bong Joon-ho sort son premier long métrage Barking Dog. En 2003, il réalise Memories of Murder, un film tiré de l'histoire réelle d'un tueur en série. Le film est un grand succès et attire plus de 5 000 000 de spectateurs en Corée du Sud.", '2000년에 봉준호는 첫 번째 오랜 간곡배에서 출발한다. 2003년에 그는 연쇄살인범에서 실렸던 실제 무더의 기억력을 실감한다. 영화는 대성공이며 한국에서 5000명 이상의 관객들을 끌어들이고 있다.', datetime.datetime(2020, 1, 17, 16, 5, 39)),)
번열결과 샘플 2000년에 봉준호는 첫 번째 오랜 간곡배에서 출발한다. 2003년에 그는 연쇄살인범에서 실렸던 실제 무더의 기억력을 실감한다. 영화는 대성공이며 한국에서 5000명 이상의 관객들을 끌어들이고 있다.

In [13]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='1234',
                             db='py_db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor
                             )
try:
    with connection.cursor() as cursor:
        sql = 'select * from tbl_trans_lang_log'     
        cursor.execute(sql )
        res = cursor.fetchall()
        # DictCursor를 사용하면 데이터 한개 (row)가 딕셔너리(순서가 없다)로 오니 키로 뽑으면된다 
        # 테이블의 컬럼 순서가 변경되도 영향을 받지 않는다
        print( '번열결과 샘플', res[0]['tStc'] )
except Exception as e:
    print(e)
finally:    
    if connection:
        connection.close()

번열결과 샘플 2000년에 봉준호는 첫 번째 오랜 간곡배에서 출발한다. 2003년에 그는 연쇄살인범에서 실렸던 실제 무더의 기억력을 실감한다. 영화는 대성공이며 한국에서 5000명 이상의 관객들을 끌어들이고 있다.

In [14]:
# 3. 접속, 쿼리, 해제 모듈화(함수화)
# 3-1. 2단계에서 구현한 내용을 함수로 작성
# 3-2. db 폴더 밑에 __init__.py 파일 생성
# 3-3. 해당 함수를 __init__.py 파일에 붙여넣기
# 3-4. ml/__init__.py 에 해당 모듈(위의 함수가 있는)을 가져와서 로그 저장 부분 완성
# vscode 에서 구현함